{% extends "base.html" %}
{% block content %}

<h1>Lista de Agendamentos</h1>

<div class="cards-container">
    {% for agendamento in agendamentos %}
    <div class="card paciente-card">
        <h3>{{ agendamento.paciente.nome }}</h3>
        <p><strong>Médico:</strong> {{ agendamento.medico.nome }} ({{ agendamento.medico.especialidade }})</p>
        <p><strong>Tipo:</strong> {{ agendamento.tipo }}</p>
        <p><strong>Data:</strong> {{ agendamento.data.strftime('%d/%m/%Y') }}</p>
        <p><strong>Horário:</strong> {{ agendamento.hora }}</p>
    </div>
    {% endfor %}
</div>

<a href="{{ url_for('agendar') }}" class="btn">Agendar nova consulta/exame</a>
<a href="{{ url_for('index') }}" class="btn btn-voltar">Voltar à página inicial</a>

{% endblock %}
